<div>
  <h1> Index </h1>
  <div data-controller="<%= "message" %>" />
</div>
<div class="max-w-2xl">
  <h1 class="text-xl font-bold my-5">Messages</h1>

  <div id="messages" class="mb-5">
    <%= render Message::Component.with_collection(@messages) %>
  </div>
  <%= render "form" %>
</div>

