<div class="flex flex-col">
  <h1>Messages</h1>
  <%= turbo_stream_from "messages" %>
  <%= render "form" %>

  <div id="messages"> 
    <%= render Message::Component.with_collection(@messages) %>
  </div>
</div>

