<nav class="nav-container">
  <a
      href="/messages"
      class="nav-item-selected"
      >
      Messages
  </a>
    <a
      href="/"
      class="nav-item-deselected"
      >
      Home 
    </a>
</nav>
