nav.nav-container data-controller=identifier
  a#nav-item-messages.nav-item-deselected href="/messages" Messages
  a#nav-item-queries.nav-item-deselected href="/queries" Queries
  a#nav-item-home.nav-item-deselected href="/" Home
