<div class="flex">
  <div class="flex-auto">
    <%= tag.div(id: dom_id(message), class: "") do %>
      <%= tag.div(
        message_body,
        class: class_names("mr-10", "text-green-600" => recent_message?, "text-gray-800" => !recent_message?)
      ) %>

    <%= tag.time(timestamp, class: "text-gray-400") %>
  <% end %>
  </div>
</div>
